*{
    font-size: large;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

}


.navbar-brand a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.navbar-brand a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 25px;
}

.navbar-brand a h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fbd9ad;

}


.navbarMain{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.navbarMain a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    padding: 15px;
    margin-right: 20px;
}

.nav-item  a{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-between;
    padding: 15px;
    color: #fbd9ad;

}

.nav-item a span{
    margin: 5px;
}

.nav-item a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:#fbd9ad;
    transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after{
    width: 100%;
}
.nav-item-box a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fbd9ad;
    border-radius: 20px;    
    color: #fbd9ad;

}

.nav-item-box .fa-star,
.nav-item-box .fa-code-branch {
    font-size: 0.8em; /* Adjust the font size as needed */
    margin: 4px 10px;
}

.nav-item-box:hover{
    transition: transform 0.4s ease-in-out;
    transform: scale(1.1);
}